article{
background: skyblue;
text-align:center;

padding:10px;
-moz-animation:myfirst 5s;
}

nav li {
display:inline-block;

background:skyblue   ;
border-radius: 8px;
padding:17px;

}



nav a{
color:blue;
font-size: 20px;
}

footer{
text-align:center;
text-decoration: blink;
background: skyblue;
color:white;
padding-top: 0.4%;
margin-top: 20px;
height: 10%;
}

body{
text-align:center;
background:#D9D9D9;
font-size: 20px;
 /* width : 980px;*/
 width : 70%;
 height: 70%;
  margin : auto ;
}

li{
list-style-type:none;
}


a:hover{
   color:green;
   
}

a:link{
    color:black;
}

@-moz-keyframes myfirst{
from {background:skyblue;}
to {background: skyblue;}
}

header{
background: skyblue;
}


#idErreur{
    color:red;
    text-decoration: blink;
font-size: 20px;
}